<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-black">



            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                <form (ngSubmit)="libraryLogin()" style="width: 23rem;">

                    <h3 class="fw-bolder fs-3 mb-3 pb-3" style="letter-spacing: 1px;">Librarian Login</h3>

                    <div class="form-outline mb-4">
                        <input type="username" placeholder="Username" id="lusername" [(ngModel)]="library.lusername" name="lusername"
                            class="form-control form-control-lg" />

                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" placeholder="Password" id="lpassword" [(ngModel)]="library.lpassword" name="lpassword"
                            class="form-control form-control-lg" />
                    </div>

                    <div class="pt-1 mb-4">
                        <button class="btn btn-info btn-lg btn-block" type="submit">SignIn</button>
                    </div>

                </form>

            </div>

        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="\assets\librarian.jpg" alt="Login image" height="610" class="w-100"
                style="object-fit: cover; object-position: left;">
        </div>
    </div>
</div>
<app-footer></app-footer>