<footer class="bg-dark fixed-bottom text-center text-white">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">

            <!-- Linkedin -->
            <span>© 2020 Copyright: </span><a class="text-white" href="https://github.com/" role="button">College
                Management System</a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1 mx-5" href="https://github.com/" role="button"><i
                    class="bi bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
</footer>