 <div class="container"> 
     
   <div class="container">  
      <body>
         <h1 style="color:rgb(0, 255, 38)">View Books</h1>
      </body>
       
   <div class="table-responsive"> 
   <table class="table">  
     <tr class="success"><th>Book Name</th><th>Author</th><th>Price</th></tr>  
     <tr class="active"><td>Php coding</td><td>abcd</td><td>550</td></tr>  
     <tr class="active"><td>Computer Graphics</td><td>Rajesh Mourya</td><td>600</td></tr>  
     <tr class="active"><td>C++</td><td>Stroustrup</td><td>760</td></tr>   
   </table>  
   </div>  
 </div>
    
  
