<!-- Background image -->
<div class="bg-image" style="
    background-image: url('../../../../assets/wallpaper5.jpg');
    height: 100vh;
    ">

    <app-student-dashboard [name]="susername"></app-student-dashboard>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-black">
                <!-- code for left side form style -->
                <div class="my-5 d-flex justify-content-center">

                    <form action="">

                        <h1 class="my-5" style="letter-spacing: 1px;"><i>View Assignment</i></h1>

                        <select class="form-select my-5" aria-label="Default select example">
                            <option selected>Select the course</option>
                            <option value="1">BCA</option>
                            <option value="2">BBA</option>
                            <option value="3">MBA</option>
                        </select>

                        <select class="form-select my-5" aria-label="Default select example">
                            <option selected>Select the Branch</option>
                            <option value="1">F.Y. BCA</option>
                            <option value="2">F.Y. BBA</option>
                            <option value="3">F.Y. MBA</option>
                        </select>

                        <select class="form-select my-5" aria-label="Default select example">
                            <option selected>Select the Year</option>
                            <option value="1">2015-2016</option>
                            <option value="2">2017-2018</option>
                            <option value="3">2019-2020</option>
                        </select>
                        <div class="container my-3">
                            <button type="submit" class="btn btn-primary">View</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- starting -->