<app-student-dashboard [name]="susername"></app-student-dashboard>
<div class="bg-image" style="
  background: #222 url('https://images5.alphacoders.com/394/thumb-1920-394862.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
    
  ">

    <div class="container w-25 p-3">


        <h1 class="fs-2 my-4" style="letter-spacing: 1px; color: white;"><b><u><i>My Profile</i></u></b></h1>
        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Username </label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.susername" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Name</label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.name" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Contact No</label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.contact_no" class="form-control" />
            </h6>
        </div>


        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Stream</label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.stream" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Batch</label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.batch" class="form-control" />
            </h6>
        </div>
        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Parent</label>
                <input readonly type="Enter the Name" id="form2Example1" [(ngModel)]="student.parent_details" class="form-control" />
            </h6>
        </div>