<app-student-dashboard></app-student-dashboard>
<div class="bg-image" style="
  background: #222 url('https://images5.alphacoders.com/394/thumb-1920-394862.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
    
  ">

    <div class="container w-25 p-3">


        <h1 class="fs-2 my-4" style="letter-spacing: 1px; color: white;"><b><u><i>My Profile</i></u></b></h1>
        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1"> Name</label>
                <input type="Enter the Name" id="form2Example1" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Email Id</label>
                <input type="Enter the Name" id="form2Example1" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Contact</label>
                <input type="Enter the Name" id="form2Example1" class="form-control" />
            </h6>
        </div>


        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Department</label>
                <input type="Enter the Name" id="form2Example1" class="form-control" />
            </h6>
        </div>

        <div class="form-outline mb-4">
            <h6 style="letter-spacing: 1px; color: rgb(238, 235, 235);">
                <label class="form-label h6" for="form2Example1">Branch</label>
                <input type="Enter the Name" id="form2Example1" class="form-control" />
            </h6>
        </div>
        <div><br><br>
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>


        </div><br><br>