<!-- Background image -->
<div class="bg-image" style="
background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_480415606_20001125165376731585_129801.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: 1550px;
height: 100vh;
">


    <app-faculty-dashboard [fusername]="fusername"></app-faculty-dashboard>


    <div class="container my-5 h-60">


        <h2 class="text-center"><i>Timetable Details</i></h2>

        <table class="table table-striped">
            <thead class="thead" style="font-size:large">
                <tr>
                    <th scope="col">TimeTable Id</th>
                    <th scope="col">Stream</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody class="tbody" style="font-size:medium">
                <tr *ngFor="let timetable of timetableDetails">
                    <td>{{timetable.timetableId}}</td>
                    <td>{{timetable.stream}}</td>
                    <td>{{timetable.batch}}</td>
                    <td>{{timetable.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-footer></app-footer>
</div>