<app-navbar></app-navbar>
<div class="container-fluid">
    <h1 class="text-center my-5"><u>About Us</u></h1>

    <div class="container-fluid">

        <p class="text-right">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ut id exercitationem voluptates temporibus
            iste, mollitia doloribus aspernatur! Maxime facilis ratione adipisci at quisquam aspernatur minima atque
            impedit repellat? Sunt ducimus officiis quidem aliquam illum quos cumque sit animi sint provident molestias,
            voluptatum ut porro enim labore ad eaque commodi tenetur est culpa facilis possimus dolorum at quasi. At aut
            eveniet ipsam obcaecati dolorum fugiat doloribus quam reprehenderit excepturi fuga illum quibusdam, ipsa
            quae consequatur omnis officia veritatis dolore repellendus voluptates sit? Distinctio temporibus placeat
            cupiditate, cumque dolorem debitis corporis nobis fugiat atque doloribus numquam laborum nisi cum corrupti
            optio vel nulla? Dolores odit reprehenderit autem blanditiis nesciunt illo repudiandae libero corrupti
            itaque sit! Adipisci reprehenderit cumque eligendi unde fugit reiciendis porro illum omnis ratione nam.
            Dolorum necessitatibus temporibus, quidem ex earum quas magnam porro cupiditate aliquam maiores quo
            recusandae error incidunt assumenda sit in nulla iste, non, molestias unde dolorem tempora. Dicta voluptatem
            omnis dignissimos assumenda. Alias, autem libero consequuntur in dolor ullam atque nobis temporibus.
            Possimus laudantium, mollitia quam autem perferendis temporibus facere eligendi, quae quaerat alias magni
            numquam dolore excepturi. Est, eius quam voluptas maiores accusantium nesciunt nulla fugit exercitationem in
            modi quas vel dolorum nostrum cumque itaque, sequi incidunt. Commodi ducimus impedit quo non odio corrupti
            eligendi quisquam recusandae nesciunt nostrum voluptate iure nisi, quibusdam at distinctio blanditiis
            praesentium iusto. Cum accusamus iusto odit recusandae soluta quam ipsa eos ea.</p>
    </div>

    <div class="container my-5">
        <h4 class="text-center text-primary"><a href = "#">Important Notification 1</a></h4>
        <h4 class="text-center text-primary my-3"><a href = "#">Important Notification 2</a></h4>

    </div>


</div>
<app-footer></app-footer>
