<app-studentheader></app-studentheader>
<div class="container my-3 col-md-6">

    <h2>Add Student</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" placeholder="Enter Username" class="form-control" id="susername"
                [(ngModel)]="adminstudent.susername" name="susername">
        </div>

        <div class="form-group my-4">
            <input placeholder="Enter Password" type="text" class="form-control" id="spassword"
                [(ngModel)]="adminstudent.spassword" name="spassword">
        </div>

        <div class="form-group my-4">
            <input placeholder="Enter Name" type="text" class="form-control" id="name" [(ngModel)]="adminstudent.name"
                name="name">
        </div>

        <div class="form-group my-4">
            <input placeholder="Enter Contact Number" type="text" class="form-control" id="contact_no"
                [(ngModel)]="adminstudent.contact_no" name="contact_no">
        </div>

        <div class="form-group my-4">
            <input placeholder="Enter Stream (e.g. MCA)" type="text" class="form-control" id="stream"
                [(ngModel)]="adminstudent.stream" name="stream">
        </div>

        <div class="form-group my-4">
            <input placeholder="Enter Batch Year (e.g. 2017-2018)" type="text" class="form-control" id="batch"
                [(ngModel)]="adminstudent.batch" name="batch">
        </div>

        <div class="form-group my-4">
            <input placeholder="Parent Name" type="text" class="form-control" id="parent_details"
                [(ngModel)]="adminstudent.parent_details" name="parent_details">
        </div>

        <div class="container my-4 d-flex justify-content-center">
            <button class="btn btn-primary" style="text-align: center;" type="submit">Add</button>
        </div>
    </form>


</div>